<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MJAppsWall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MJBanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MJOpenScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MJSDK-iOS(Release).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MJSDK-iOS(library).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MJSDK-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>971ADAD11D0EBEFD00F67CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>976351B01D9BA200007F7965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>976351BD1D9BA22B007F7965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>976351CA1D9BA23C007F7965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>976574BF1D98FDE100BE62C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97736ED41D9BB56F00B0E297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE46A2041D927CC900C4642C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF614841D73E1D2002416C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF6155E1D73E2C2002416C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF6156B1D73E47B002416C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
